body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(9, 40px); /* 9 columns */
    grid-template-rows: repeat(5, 40px); /* 5 rows */
    gap: 5px; /* Spacing between squares */
    margin-right: 20px;
}

.grid-container > div {
    background-color: white;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button, input {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.simulation-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.remaining-choices {
    margin-top: 20px;
    user-select: none;
}

#choices {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.choice-ball {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #ccc;
}

.choice-ball.blue {
    background-color: blue;
}

.stats {
    margin-top: 20px;
    user-select: none;
}
